<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted</title>
</head>
<body>

<center>
      <h2>
        1001641420 <br/>
        Mustafa Alhilo
    </h2>
        <!-- Number of Earthquakes for your given range are: {{ count }} -->

         <br>
         <h2>Question 1 </h2>
        The Total time and the avarge total time required to execute the restricted queries is: {{totaltime}} seconds, and the avarage is {{ time_taken }} seconds

    <br><br>
<table border="1">
    <tr>

        <th>Time taken for each query</th>
    </tr>

        <tr>
            <td>
                {{ list_all_times }}
            </td>

        </tr>

</table>

</center>
</body>
</html>