<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <center>
    <h2>
        1001641420 <br/>
        Mustafa Alhilo
    </h2>
</center>
<br>
 <h3>Total time</h3> of all quires is :{{totaltime}} seconds
 <h3>The avarge </h3> for each query is : {{ avarge_time_of_all }} seconds

    </h1>

 <br><br>

<table border="1">
    <tr>

        <th>Time taken for each query for all queries </th>
    </tr>

        <tr>
            <td>
                {{ list_of_times }}
            </td>

        </tr>


</table>
</body>
</html>