<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<center>
    <h2>
        1001641420 <br/>
        Mustafa Alhilo
    </h2>
</center>

The average total time required to execute the restricted queries is {{ time_taken }} seconds

    <br><br>
<table border="1">
    <tr>

        <th>Time taken for each query</th>
    </tr>

        <tr>
            <td>
                {{ list_of_times }}
            </td>

        </tr>

</table>
<br>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="false"></span></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>